@model InvoiceMaker.Models.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Invoice Number: @Model.InvoiceNumber </h2>
<h2>Client Name: @Model.Client.Name</h2>
<h2>Invoice Status: @Model.Status</h2>

<h3>Line Items</h3>

<p>
    @Html.ActionLink("Add a Fee Item", "Create", "FeeLineItem", new { id = Model.Id  }, new { @class = "pure-button pure-button-primary" })
</p>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>When</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var feeLineItems in Model.FeeLineItems)
        {
            if (feeLineItems.InvoiceId == Model.Id)
            {
                <tr>
                    <th>@feeLineItems.Description</th>
                    <th>@feeLineItems.Amount</th>
                    <th>@feeLineItems.When</th>
                </tr>
            }
        }
    </tbody>
</table>

