@model  List<InvoiceMaker.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h1>List of Invoices</h1>

<p>
    @Html.ActionLink("Add an invoice", "Create", new { }, new { @class = "pure-button pure-button-primary" })
</p>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Client Name</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>@invoice.InvoiceNumber</td>
                <td>@invoice.Client.Name</td>
                <td>@invoice.Status</td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { Id = client.Id })
                </td>*@
            </tr>
        }
    </tbody>
</table>